anyio==3.6.1
click==8.1.3
dnspython==2.2.1
email-validator==1.2.1 # original list
fastapi==0.79.0 # original list
h11==0.13.0
idna==3.3
pydantic==1.9.1
python-multipart==0.0.5 # original list
six==1.16.0
sniffio==1.2.0
starlette==0.27.0
typing-extensions==4.3.0
uvicorn==0.18.2 # original list
